.page-title{
    color: #ebebeb;
    font-size: 60;
}
.divCuadroPersonaLanding{
    display: flex;
    height:auto;
    padding: 20px 45px;
    border-radius: 10px;
    box-shadow: 8px 9px 20px #ebebeb;
}
.person{
    display: flex;
}
.box-image{
    width: 300px; height: 480px; 
    background-color: #FAA819;
    margin: 10px;
}
.box-image img{
    max-width:300; min-width: 300px; 
    max-height: 480px; min-height: 480px;
    transform: translateX(10px) translateY(20px);
    z-index: 1;
}
.info{
    margin: 15px 30px;
    display: flex;
    flex-direction: column; 
}
.name{
    color: #FAA819;
    font-size: 32px;
    margin: 0;
}
.name .line{
    color: #ebebeb;
    width:20%;
    margin: 5px 0 10px 0;
    height: 4px;
    border-radius: 2px;
}
.position{
    margin: 5px 0;
    color:#ebebeb;
    text-indent: 10px;
}
.des{
    color: #ebebeb;
    text-indent: 10px;
    font-size: 18px;
    text-wrap: wrap;
}
.redesPerson{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 0px;
}
.redesPerson a{
    font-size: 1.6em;
    color: #fff;
    padding: 4px 4px 2px 4px;
    margin: 0 10px;
}
.redesPerson a:hover{
    transform: scale(1.5);
    transition: .3s;
}