/*Paleta de colores*/
 #noexist{
    color: #221F1F;/*Para negros*/
    color: #F6F4F4;/*Fondo blanco no blanco*/
    color: #C852BA;
    color: #CA6CE6;
    color: #FAA819;
    color: #FCB415;
 }

/*estilo base del menu de navegacion*/
#nav-menu{
    text-decoration: none; 
    font-weight: 600;
    font-size: 19px;
    margin: 0px 20px;
}
/*estilo nav-menu header*/
.etiquetas #nav-menu{
    color:#221F1F;
}
.etiquetas #nav-menu:hover { 
    font-weight: 700;
    color: #ebebeb;
}
.etiquetas #nav-menu:active{
    color:#FAA819;
}
/*Estilos nav-menu footer*/
.menuf #nav-menu{
    color: #ebebeb;
    opacity: 0.8;
}
.menuf #nav-menu:hover{
    color: #fff;
    opacity: 100%;
}
.menuf #nav-menu:active{
    color:#CA6CE6;
}
/*Estilo de los botones de redes sociales*/
.redesicon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.redesicon li {
    list-style: none;
}
.redesicon li a{
    font-size: 2em;
    color: #ebebeb;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.redesicon li a:hover{
    transform: translatey(-10px);
}
.redesicon li a:active{
    color: #CA6CE6;
}